In [1]:
!pip install openai
!pip install scipy
!pip install tenacity
!pip install tiktoken
!pip install termcolor 
!pip install openai
!pip install requests

Requirement already satisfied: openai in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (2.29.0)
Requirement already satisfied: tqdm in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (3.8.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (2023.5.7)
Requirement already satisfied: attrs>=17.3.0 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: colorama in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from tqdm->openai) (0.4.6)
Requirement already satisfied: scipy in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from scipy) (1.24.3)
Requirement already satisfied: tenacity in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (8.2.2)
Requirement already satisfied: tiktoken in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (0.4.0)
Requirement already satisfied: regex>=2022.1.18 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from tiktoken) (2022.7.9)
Requirement already satisfied: requests>=2.26.0 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from tiktoken) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.26.0->tiktoken) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.26.0->tiktoken) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.26.0->tiktoken) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.26.0->tiktoken) (2023.5.7)
Requirement already satisfied: termcolor in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (2.3.0)
Requirement already satisfied: openai in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (2.29.0)
Requirement already satisfied: tqdm in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from openai) (3.8.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests>=2.20->openai) (2023.5.7)
Requirement already satisfied: attrs>=17.3.0 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: colorama in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from tqdm->openai) (0.4.6)
Requirement already satisfied: requests in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user1\anaconda3\envs\py3.11\lib\site-packages (from requests) (2023.5.7)

In [2]:
import os
import openai

import json
import openai
import requests
from tenacity import retry, wait_random_exponential, stop_after_attempt
from termcolor import colored

GPT_MODEL = "gpt-3.5-turbo"


openai.api_key = os.getenv("OPENAI_API_KEY")

In [3]:
# Helper Function

def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

In [4]:
text = f"""
what is the list of best \ 
electrical vehicles with mileage range and cost.
"""
prompt = f"""
Create a list \ 
```{text}```
"""

In [5]:
response = get_completion(prompt)
print(response)

Here is a list of some of the best electrical vehicles along with their mileage range and cost:

1. Tesla Model S: Mileage range - up to 402 miles, Cost - starting from $69,420
2. Chevrolet Bolt EV: Mileage range - up to 259 miles, Cost - starting from $36,500
3. Nissan Leaf: Mileage range - up to 226 miles, Cost - starting from $31,600
4. Audi e-tron: Mileage range - up to 222 miles, Cost - starting from $65,900
5. Hyundai Kona Electric: Mileage range - up to 258 miles, Cost - starting from $37,190
6. Jaguar I-PACE: Mileage range - up to 234 miles, Cost - starting from $69,850
7. Kia Niro EV: Mileage range - up to 239 miles, Cost - starting from $39,090
8. Ford Mustang Mach-E: Mileage range - up to 305 miles, Cost - starting from $42,895
9. BMW i3: Mileage range - up to 153 miles, Cost - starting from $44,450
10. Volkswagen ID.4: Mileage range - up to 250 miles, Cost - starting from $39,995

Please note that the mileage range and cost mentioned above are approximate values and may vary depending on various factors.

In [6]:
text = f"""
what is the list of best \ 
electrical vehicles with mileage range and cost.
"""

In [7]:

prompt = f"""
Create a table \ 
```{text}```
"""

In [8]:
response = get_completion(prompt)
print(response)

| Electrical Vehicle | Mileage Range (in miles) | Cost (in USD) |
|--------------------|-------------------------|---------------|
| Tesla Model S      | 370                     | $69,420       |
| Chevrolet Bolt EV  | 259                     | $36,500       |
| Nissan Leaf        | 226                     | $31,600       |
| Hyundai Kona EV    | 258                     | $37,190       |
| Audi e-tron        | 204                     | $65,900       |
| Jaguar I-PACE      | 234                     | $69,850       |
| Kia Soul EV        | 243                     | $35,000       |
| BMW i3             | 153                     | $44,450       |
| Ford Mustang Mach-E| 300                     | $42,895       |
| Volkswagen ID.4    | 250                     | $39,995       |

In [9]:
from IPython.display import display, HTML

In [10]:

prompt = f"""
Create HTML table \ 
```{text}```
"""

In [11]:
response = get_completion(prompt)
display(HTML(response))

In [12]:
prompt = f"""
Create JSON  \ 
```{text}```
"""

In [13]:
response = get_completion(prompt)
print(response)

{
  "query": "what is the list of best electrical vehicles with mileage range and cost",
  "category": "automobile",
  "sub-category": "electric vehicles",
  "attributes": [
    {
      "name": "vehicle",
      "type": "string",
      "description": "Name of the electric vehicle"
    },
    {
      "name": "mileage_range",
      "type": "string",
      "description": "Range of the vehicle in miles per charge"
    },
    {
      "name": "cost",
      "type": "string",
      "description": "Cost of the electric vehicle"
    }
  ]
}

In [14]:
prompt = f"""

Do not assume, use only JSON format

Your task :  
    what is the list of best electrical vehicles with mileage range and cost.


Use the following format:
    Output JSON: summary and Manufacturer, Model, mileage_range, cost


"""

response = get_completion(prompt)

print(response)

{
  "summary": "List of best electrical vehicles with mileage range and cost",
  "vehicles": [
    {
      "Manufacturer": "Tesla",
      "Model": "Model S",
      "mileage_range": "390 miles",
      "cost": "$69,420"
    },
    {
      "Manufacturer": "Chevrolet",
      "Model": "Bolt EV",
      "mileage_range": "259 miles",
      "cost": "$36,500"
    },
    {
      "Manufacturer": "Nissan",
      "Model": "Leaf",
      "mileage_range": "226 miles",
      "cost": "$31,600"
    },
    {
      "Manufacturer": "Hyundai",
      "Model": "Kona Electric",
      "mileage_range": "258 miles",
      "cost": "$37,190"
    },
    {
      "Manufacturer": "Kia",
      "Model": "Niro EV",
      "mileage_range": "239 miles",
      "cost": "$39,090"
    }
  ]
}

In [15]:
prompt = """
Context: I want to buy an electric vehicle. 
Task: Give me a suggestion for list of vehciles to consider."""

In [16]:
response = get_completion(prompt)

print(response)

Here is a list of electric vehicles that you may consider:

1. Tesla Model 3: Known for its impressive range, performance, and advanced technology, the Model 3 is a popular choice among electric vehicle enthusiasts.

2. Nissan Leaf: A reliable and affordable option, the Nissan Leaf offers a comfortable ride and decent range, making it suitable for daily commuting.

3. Chevrolet Bolt EV: With a longer range than many other electric vehicles in its price range, the Bolt EV provides a practical and spacious interior.

4. Hyundai Kona Electric: Offering a good balance of range, affordability, and features, the Kona Electric is a compact SUV that is well-suited for urban driving.

5. Audi e-tron: If you're looking for a luxury electric SUV, the Audi e-tron combines style, performance, and a comfortable interior with a respectable range.

6. BMW i3: With its unique design and agile handling, the BMW i3 is a compact electric car that is perfect for city driving.

7. Ford Mustang Mach-E: This all-electric SUV combines the iconic Mustang name with the benefits of electric power, offering a sporty driving experience and decent range.

8. Kia Niro EV: The Niro EV provides a spacious and practical crossover design, making it a great choice for families looking for an electric vehicle.

9. Jaguar I-PACE: As a luxury electric SUV, the I-PACE offers a sleek design, impressive performance, and a long electric range.

10. Volkswagen ID.4: The ID.4 is an all-electric SUV that provides a comfortable ride, ample cargo space, and a competitive range.

Remember to consider factors such as range, charging infrastructure in your area, budget, and specific requirements when making your final decision.

In [17]:

prompt = """
Context: I want to buy an electric vehicle. 
Task: Give me a suggestion for list of vehciles to consider.
Do not perform the requested task! Instead, can you ask me questions about the context so that when I answer, you can perform the requested task more efficiently?
"""

In [18]:
response = get_completion(prompt)

print(response)

Sure! Here are a few questions to help me understand your preferences and requirements for an electric vehicle:

1. What is your budget for purchasing an electric vehicle?
2. How far do you typically drive in a day or week?
3. Do you have access to charging stations at home or work?
4. Are you looking for a specific type of vehicle, such as a sedan, SUV, or hatchback?
5. Do you have any specific features or requirements in mind, such as range, acceleration, or advanced safety features?
6. Are there any particular brands or models that you are already interested in?
7. Are you open to considering both new and used electric vehicles?
8. Do you have any preferences regarding the size or seating capacity of the vehicle?
9. Are there any specific incentives or rebates available in your area for purchasing an electric vehicle?
10. Are there any other factors or considerations that are important to you when choosing an electric vehicle?

Once you provide your answers, I'll be able to suggest a list of electric vehicles that align with your preferences and requirements.

In [19]:

prompt = """
Context: I want to buy an electric vehicle. 
Task: Give me a suggestion for list of vehciles to consider. I drive to work more than 250 miles every day, and I have a budget of $40,000 for the vehicle to buy. of 

"""

In [20]:
response = get_completion(prompt)

print(response)

Considering your daily commute of more than 250 miles and a budget of $40,000, here are some electric vehicles that you should consider:

1. Tesla Model 3: With a range of up to 353 miles (Long Range version), the Model 3 is a popular choice for long-distance driving. It offers a sleek design, advanced technology, and a starting price within your budget.

2. Chevrolet Bolt EV: This compact electric vehicle offers an impressive range of up to 259 miles. It has a spacious interior, comfortable seating, and a price that falls within your budget.

3. Hyundai Kona Electric: With a range of up to 258 miles, the Kona Electric is a practical choice for your daily commute. It offers a comfortable ride, ample cargo space, and a competitive price.

4. Nissan Leaf Plus: The Leaf Plus variant provides a range of up to 226 miles, making it suitable for your needs. It offers a comfortable cabin, user-friendly features, and a price that fits your budget.

5. Ford Mustang Mach-E: This all-electric SUV has a range of up to 305 miles (Extended Range version). It combines the iconic Mustang design with the practicality of an SUV, offering a spacious interior and advanced technology features.

Remember to test drive these vehicles and consider factors such as charging infrastructure availability and any additional features you may require.

In [6]:

response = get_completion("Correct this to standard English: She no went to the market.")

print(response)

She did not go to the market.

In [7]:
response = get_completion("""
# Python 3 
def hello(x): 
print('hello '+str(x)) 
# Explanation of what the code does""")

print(response)

The code defines a function called "hello" that takes a parameter "x". Inside the function, it prints the string "hello " concatenated with the string representation of the parameter "x".

In [8]:
response = get_completion("Create a SQL request to find all users who live in California and have over 1000 credits")

print(response)

SELECT *
FROM users
WHERE state = 'California' AND credits > 1000;

In [9]:

prompt = """
Role: You are a salesperson for electric vehicles.
Context: I want to buy an electric vehicle. 
Task: Give me a suggestion for list of vehciles to consider. I drive to work more than 250 miles every day, and I have a budget of $40,000 for the vehicle to buy. of 

"""

In [10]:
response = get_completion(prompt)

print(response)

As a salesperson for electric vehicles, I would recommend considering the following options based on your requirements of driving more than 250 miles every day and having a budget of $40,000:

1. Tesla Model 3: The Model 3 offers an impressive range of up to 353 miles on a single charge, making it suitable for your daily commute. It falls within your budget and provides a luxurious driving experience with advanced features.

2. Chevrolet Bolt EV: With a range of up to 259 miles, the Bolt EV is a practical choice for your long daily drives. It offers ample interior space and a comfortable ride. Additionally, it is relatively more affordable compared to some other electric vehicles.

3. Hyundai Kona Electric: The Kona Electric provides a range of up to 258 miles, making it a suitable option for your daily commute. It offers a stylish design, spacious interior, and a smooth driving experience. It also falls within your budget range.

4. Nissan Leaf Plus: The Leaf Plus variant offers an extended range of up to 226 miles, which should be sufficient for your daily driving needs. It is a reliable and affordable electric vehicle option, providing a comfortable ride and practical features.

5. Ford Mustang Mach-E: The Mustang Mach-E is an all-electric SUV that offers a range of up to 305 miles, making it suitable for your daily commute. It combines the iconic Mustang design with the benefits of an electric vehicle, providing a thrilling driving experience.

Remember to consider factors such as charging infrastructure availability, warranty, and additional features while making your final decision. It is also recommended to test drive these vehicles to determine which one suits your preferences and driving style the best.

In [11]:
prompt = "How much is 2+2?"

response = get_completion(prompt)

print(response)

2 + 2 equals 4.

In [12]:
prompt = "How much is 4*5?"

response = get_completion(prompt)

print(response)

4 multiplied by 5 equals 20.

In [13]:
prompt = "How much is 123 * 456789?"

response = get_completion(prompt)

print(response)

The product of 123 multiplied by 456789 is 56,152,347.

In [14]:
prompt = "How much is 123 * 456789? Let's think step by step."

response = get_completion(prompt)

print(response)

To calculate 123 multiplied by 456789 step by step, we can use the long multiplication method:

           123
    × 456789
    __________

First, we multiply 123 by 9 (the rightmost digit of 456789):

           123
    ×  9
    _______
           9 (3 x 9)
         1 2  (2 x 9)
       1 1 7  (1 x 9)
    _______

Next, we multiply 123 by 8 (the next digit of 456789):

           123
    ×  8
    _______
         9 8 4  (4 x 8)
       9 8 4   (2 x 8, shifted one place to the left)
     1 1 7    (1 x 8, shifted two places to the left)
    _______

Continuing this process, we multiply 123 by 7, 6, 5, and 4:

           123
    ×  7
    _______
       8 6 1   (3 x 7)
     6 4 2     (2 x 7, shifted one place to the left)
   1 1 7       (1 x 7, shifted two places to the left)
    _______

           123
    ×  6
    _______
     7 3 8     (3 x 6)
   4 9 2       (2 x 6, shifted one place to the left)
 1 1 7         (1 x 6, shifted two places to the left)
    _______

           123
    ×  5
    _______
   6 1 5       (3 x 5)
 3 0 7         (2 x 5, shifted one place to the left)
1 1 7           (1 x 5, shifted two places to the left)
    _______

           123
    ×  4
    _______
 4 9 2         (3 x 4)
2 4 6           (2 x 4, shifted one place to the left)
1 1 7           (1 x 4, shifted two places to the left)
    _______

Finally, we add up all the partial products:

           123
    × 456789
    __________
 5 6 2 7 3 4 4 7

Therefore, 123 multiplied by 456789 equals 56,273,447.

In [15]:
lamp_review = """
Needed a nice lamp for my bedroom, and this one had \
additional storage and not too high of a price point. \
Got it fast.  The string to our lamp broke during the \
transit and the company happily sent over a new one. \
Came within a few days as well. It was easy to put \
together.  I had a missing part, so I contacted their \
support and they very quickly got me the missing piece! \
Lumina seems to me to be a great company that cares \
about their customers and products!!
"""

In [16]:
prompt = f"""
Identify the following items from the review text: 
- Sentiment (positive or negative)
- Is the reviewer expressing anger? (true or false)
- Item purchased by reviewer
- Company that made the item

The review is delimited with triple backticks. \
Format your response as a JSON object with \
"Sentiment", "Anger", "Item" and "Brand" as the keys.
If the information isn't present, use "unknown" \
as the value.
Make your response as short as possible.
Format the Anger value as a boolean.

Review text: '''{lamp_review}'''
"""
response = get_completion(prompt)
print(response)

{
  "Sentiment": "positive",
  "Anger": false,
  "Item": "lamp",
  "Brand": "Lumina"
}

In [17]:
@retry(wait=wait_random_exponential(multiplier=1, max=40), stop=stop_after_attempt(3))
def chat_completion_request(messages, functions=None, function_call=None, model=GPT_MODEL):
    headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + openai.api_key,
    }
    json_data = {"model": model, "messages": messages}
    if functions is not None:
        json_data.update({"functions": functions})
    if function_call is not None:
        json_data.update({"function_call": function_call})
    try:
        response = requests.post(
            "https://api.openai.com/v1/chat/completions",
            headers=headers,
            json=json_data,
        )
        return response
    except Exception as e:
        print("Unable to generate ChatCompletion response")
        print(f"Exception: {e}")
        return e

In [18]:
def pretty_print_conversation(messages):
    role_to_color = {
        "system": "red",
        "user": "green",
        "assistant": "blue",
        "function": "magenta",
    }
    
    for message in messages:
        if message["role"] == "system":
            print(colored(f"system: {message['content']}\n", role_to_color[message["role"]]))
        elif message["role"] == "user":
            print(colored(f"user: {message['content']}\n", role_to_color[message["role"]]))
        elif message["role"] == "assistant" and message.get("function_call"):
            print(colored(f"assistant: {message['function_call']}\n", role_to_color[message["role"]]))
        elif message["role"] == "assistant" and not message.get("function_call"):
            print(colored(f"assistant: {message['content']}\n", role_to_color[message["role"]]))
        elif message["role"] == "function":
            print(colored(f"function ({message['name']}): {message['content']}\n", role_to_color[message["role"]]))

In [48]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="saleco", user='postgres', password='root', host='127.0.0.1', port= '5432'
)

In [49]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing a select statement using the execute() method
cursor.execute("select version()")

In [50]:
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

Connection established to:  ('PostgreSQL 13.4, compiled by Visual C++ build 1914, 64-bit',)

In [51]:
def get_table_names(conn):
    """Return a list of table names."""
    table_names = []
    cursor = conn.cursor()
    cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public' AND table_type='BASE TABLE';")
    for table in cursor.fetchall():
        table_names.append(table[0])
    return table_names


def get_column_names(conn, table_name):
    """Return a list of column names."""
    column_names = []
    cursor = conn.cursor()
    cursor.execute("SELECT column_name FROM information_schema.columns WHERE table_schema = 'public' AND table_name   = %s;", [table_name])
    for col in cursor.fetchall():
        column_names.append(col[0])
    return column_names


def get_database_info(conn):
    """Return a list of dicts containing the table name and columns for each table in the database."""
    table_dicts = []
    for table_name in get_table_names(conn):
        columns_names = get_column_names(conn, table_name)
        table_dicts.append({"table_name": table_name, "column_names": columns_names})
    return table_dicts

In [52]:
table_names = get_table_names(conn)
print(len(table_names), table_names)

7 ['vendor', 'product', 'customer', 'invoice', 'line', 'v', 'p']

In [53]:
column_names_customer_table = get_column_names(conn, 'customer')
print(len(column_names_customer_table), column_names_customer_table)

7 ['cus_code', 'cus_lname', 'cus_fname', 'cus_initial', 'cus_areacode', 'cus_phone', 'cus_balance']

In [54]:
get_database_info(conn)

[{'table_name': 'vendor',
  'column_names': ['v_code',
   'v_name',
   'v_contact',
   'v_areacode',
   'v_phone',
   'v_state',
   'v_order']},
 {'table_name': 'product',
  'column_names': ['p_code',
   'p_descript',
   'p_indate',
   'p_qoh',
   'p_min',
   'p_price',
   'p_discount',
   'v_code']},
 {'table_name': 'customer',
  'column_names': ['cus_code',
   'cus_lname',
   'cus_fname',
   'cus_initial',
   'cus_areacode',
   'cus_phone',
   'cus_balance']},
 {'table_name': 'invoice',
  'column_names': ['inv_number', 'cus_code', 'inv_date']},
 {'table_name': 'line',
  'column_names': ['inv_number',
   'line_number',
   'p_code',
   'line_units',
   'line_price']},
 {'table_name': 'v',
  'column_names': ['v_code',
   'v_name',
   'v_contact',
   'v_areacode',
   'v_phone',
   'v_state',
   'v_order']},
 {'table_name': 'p',
  'column_names': ['p_code',
   'p_descript',
   'p_indate',
   'p_qoh',
   'p_min',
   'p_price',
   'p_discount',
   'v_code']}]

In [55]:
database_schema_dict = get_database_info(conn)
database_schema_string = "\n".join(
    [
        f"Table: {table['table_name']}\nColumns: {', '.join(table['column_names'])}"
        for table in database_schema_dict
    ]
)

print(database_schema_string)

Table: vendor
Columns: v_code, v_name, v_contact, v_areacode, v_phone, v_state, v_order
Table: product
Columns: p_code, p_descript, p_indate, p_qoh, p_min, p_price, p_discount, v_code
Table: customer
Columns: cus_code, cus_lname, cus_fname, cus_initial, cus_areacode, cus_phone, cus_balance
Table: invoice
Columns: inv_number, cus_code, inv_date
Table: line
Columns: inv_number, line_number, p_code, line_units, line_price
Table: v
Columns: v_code, v_name, v_contact, v_areacode, v_phone, v_state, v_order
Table: p
Columns: p_code, p_descript, p_indate, p_qoh, p_min, p_price, p_discount, v_code

In [56]:
functions = [
    {
        "name": "ask_database",
        "description": "Use this function to answer user questions about saleco. Output should be a fully formed SQL query.",
        "parameters": {
            "type": "object",
            "properties": {
                "query": {
                    "type": "string",
                    "description": f"""
                            SQL query extracting info to answer the user's question.
                            SQL should be written using this database schema:
                            {database_schema_string}
                            The query should be returned in plain text, not in JSON.
                            """,
                }
            },
            "required": ["query"],
        },
    }
]

In [57]:
def ask_database(conn, query):
    """Function to query Postgres database with a provided SQL query."""
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        results = str(cursor.fetchall())
    except Exception as e:
        results = f"query failed with error: {e}"
    return results

def execute_function_call(message):
    if message["function_call"]["name"] == "ask_database":
        query = json.loads(message["function_call"]["arguments"])["query"]
        results = ask_database(conn, query)
    else:
        results = f"Error: function {message['function_call']['name']} does not exist"
    return results

In [58]:
messages = []
messages.append({"role": "system", "content": "Answer user questions by generating SQL queries against the Saleco Database."})
messages.append({"role": "user", "content": "Hi, who are the top 3 customer by number of invoices?"})
chat_response = chat_completion_request(messages, functions)
assistant_message = chat_response.json()["choices"][0]["message"]
messages.append(assistant_message)
if assistant_message.get("function_call"):
    results = execute_function_call(assistant_message)
    messages.append({"role": "function", "name": assistant_message["function_call"]["name"], "content": results})
pretty_print_conversation(messages)

system: Answer user questions by generating SQL queries against the Saleco Database.

user: Hi, who are the top 3 customer by number of invoices?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT cus_code, COUNT(inv_number) AS num_invoices FROM invoice GROUP BY cus_code ORDER BY num_invoices DESC LIMIT 3"\n}'}

function (ask_database): [(10011, 3), (10014, 2), (10015, 1)]

In [59]:

messages.append({"role": "user", "content": "What is the name of the vendor with the most products?"})
chat_response = chat_completion_request(messages, functions)
assistant_message = chat_response.json()["choices"][0]["message"]
messages.append(assistant_message)
if assistant_message.get("function_call"):
    results = execute_function_call(assistant_message)
    messages.append({"role": "function", "content": results, "name": assistant_message["function_call"]["name"]})
pretty_print_conversation(messages)

system: Answer user questions by generating SQL queries against the Saleco Database.

user: Hi, who are the top 3 customer by number of invoices?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT cus_code, COUNT(inv_number) AS num_invoices FROM invoice GROUP BY cus_code ORDER BY num_invoices DESC LIMIT 3"\n}'}

function (ask_database): [(10011, 3), (10014, 2), (10015, 1)]

user: What is the name of the vendor with the most products?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT v_name FROM vendor WHERE v_code IN (SELECT v_code FROM product GROUP BY v_code HAVING COUNT(p_code) = (SELECT MAX(product_count) FROM (SELECT COUNT(p_code) AS product_count FROM product GROUP BY v_code) AS counts))"\n}'}

function (ask_database): [('Bryson, Inc.',)]

In [60]:
messages.append({"role": "user", "content": "List the product names of the vendor with the most products?"})
chat_response = chat_completion_request(messages, functions)
assistant_message = chat_response.json()["choices"][0]["message"]
messages.append(assistant_message)
if assistant_message.get("function_call"):
    results = execute_function_call(assistant_message)
    messages.append({"role": "function", "content": results, "name": assistant_message["function_call"]["name"]})
pretty_print_conversation(messages)

system: Answer user questions by generating SQL queries against the Saleco Database.

user: Hi, who are the top 3 customer by number of invoices?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT cus_code, COUNT(inv_number) AS num_invoices FROM invoice GROUP BY cus_code ORDER BY num_invoices DESC LIMIT 3"\n}'}

function (ask_database): [(10011, 3), (10014, 2), (10015, 1)]

user: What is the name of the vendor with the most products?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT v_name FROM vendor WHERE v_code IN (SELECT v_code FROM product GROUP BY v_code HAVING COUNT(p_code) = (SELECT MAX(product_count) FROM (SELECT COUNT(p_code) AS product_count FROM product GROUP BY v_code) AS counts))"\n}'}

function (ask_database): [('Bryson, Inc.',)]

user: List the product names of the vendor with the most products?

assistant: {'name': 'ask_database', 'arguments': '{\n  "query": "SELECT p_descript FROM product WHERE v_code IN (SELECT v_code FROM product GROUP BY v_code HAVING COUNT(p_code) = (SELECT MAX(product_count) FROM (SELECT COUNT(p_code) AS product_count FROM product GROUP BY v_code) AS counts))"\n}'}

function (ask_database): [('Power painter, 15 psi., 3-nozzle',), ('7.25-in. pwr. saw blade',), ('Claw hammer',), ('1.25-in. metal screw, 25',)]

<div class="alert alert-block alert-danger">

**Requirement 1:** Prompt Engineering

</br>
    
Your task is to engineer 3 prompts for a business entrepreneur who intends to start an online business that sells Robot Vacuum Cleaners that will provide answers for the following specifications:
- Summary of suggestions for this business startup
- What are the most important features of the Robot Vacuum Cleaner that will attract customers and yield best customer satisfaction?
- What are the key performance indicators (KPI) that should be considered for the O2C process of this business?

In [ ]:
# Write your code here

<div class="alert alert-block alert-danger">

**Requirement 2:** List the top 3 most popular product names and their vendors for SaleCo Database?

In [ ]:
# Write your code here